body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: auto;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex-grow: 1;
  background-color: #f1f1f1;
  padding: 20px;
  height: 100%;
  word-wrap: break-word;
  max-width: 30vw;
}

.img {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.imgContainer {
	flex-grow: 8;
	padding: 20px;
	background-color: #f1f1f1;
	max-width: 70vw;
}

@media screen and (max-width: 500px) {
  .row {  
    flex-direction: column;
    width: 100%;
  }
  .side {
  	height: auto;
  	max-width: 100%;
  	max-width: calc(100% - 40px);
  }
  .imgContainer {
  	height: auto;
  	width: 100%;
  	max-width: calc(100% - 40px);
  }
}

.barkSensor{
  background-image: url('/static/images/bark_sensor/schematic.jpg');
}

.crosswalk{
  background-image: url('/static/images/crosswalk/Enclosure v11.png');
}

.website{
  background-image: url('/static/images/grid-list/logo.svg');
}

.pdfContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	margin-top: 10px;
},
.pdf {
	width: 80vw;
	height: calc(80vw/(1224/1584));
	box-shadow: 10px 10px 8px #888888;
	border-color: black;
	border-style: solid;
	border: 1px;
	margin: auto;
	
},
.downloadButton {
	margin: 20px;
}